target
.env
.obsidian/
webshop_server/resources/
webshop_server/certificate.pem
webshop_server/privatekey.pem

# docker volume with resources, certs etc
app/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?