.loading-spinner {
  position: relative;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 18px;
  color: #5a5a5a;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: Canvas;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}