version: '3.1'

services:
  db:
    image: postgres
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      POSTGRES_DB: proflex
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ../database/sql_scripts:/sql_scripts
      - ./app/postgres-data:/var/lib/postgresql/data

  webshop:
    env_file:
      - .env
    image: ghcr.io/nokacper24/group4webshop:${IMG_TAG:-main}
    ports:
      - "443:8080"
    environment:
      HOST: 0.0.0.0
      PORT: 8080
      RUST_LOG: ${RUST_LOG:-info,sqlx=warn}
      EMAIL_USR: ${EMAIL_USR}
      EMAIL_PWD: ${EMAIL_PWD}
      ALLOWED_ORIGINS: https://group04.web-tek.ninja
      DATABASE_URL: postgresql://backend_user:${BACKEND_USR_PASS}@db:5432/proflex
      CERT_PATH: /certs/live/group04.web-tek.ninja/cert.pem
      PRIV_KEY_PATH: /certs/live/group04.web-tek.ninja/privkey.pem
    depends_on:
      - db
    volumes:
      - ./app/resources:/app/resources
      - ./app/logs:/app/logs
      - /etc/letsencrypt/live/group04.web-tek.ninja:/certs/live/group04.web-tek.ninja
      - /etc/letsencrypt/archive/group04.web-tek.ninja:/certs/archive/group04.web-tek.ninja
    restart: always

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - webshop