@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lalezar|Poiret+One);

/* || VARIABLES */
:root {
  /* Colour variables */
  --clr-primary: #2f1565;
  --clr-secondary: #5a1b5b;
  --clr-tertiary: #058b65;

  --clr-neutral-0: #000;
  --clr-neutral-300: #555;
  --clr-neutral-700: #bbb;
  --clr-neutral-900: #ddd;
  --clr-neutral-1000: #fff;
  --clr-gradient: 180deg, var(--clr-primary) 20%, var(--clr-secondary) 90%;
  --clr-gradient-2: -30deg, var(--clr-primary) 20%, var(--clr-secondary) 90%;

  --clr-danger: #b20000;

  /* Font family variables */
  --ff-primary: 'Open Sans', 'Arial', sans-serif;
  --ff-title: 'Lalezar', 'Arial Black', 'Geneva', sans-serif;
  --ff-subtitle: 'Poiret One', 'Goudy Old Style', serif;

  /* Sizes */
  --header-height: 3.5em;
  --max-width: 1200px;
  --gallery-button-size: 2.5rem;
  --scrollbar-width: 15px;

  /* Miscellaneous */
  --transition-speed: 250ms;
  --box-shadow: 0 0 10px #0006;
  --text-shadow: -1px 0px 3px var(--clr-neutral-0);
  font-size: 18px;
}

/* || SITEWIDE STYLES */
/* SCROLL BAR */
::-webkit-scrollbar {
  background: transparent;
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: rgba(113, 113, 113, 0.35);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 3px solid transparent;
  background-color: rgba(30, 30, 30, 0.8);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0);
}

/* Utility classes */
.display-none {
  display: none !important;
}

.m-t-1 {
  margin-top: 1em !important;
}

.grid-auto {
  grid-template-columns: auto !important;
}

/* Basic elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--clr-neutral-0);
  font-family: var(--ff-primary);
  line-height: 2;
  /* For scrollbar to overlay the page without having hard border */
  overflow: overlay;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  font-family: var(--ff-subtitle);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  background: -webkit-linear-gradient(var(--clr-gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: var(--ff-primary);
  cursor: pointer;
}

.default-button {
  padding: 0.75em 2em;
  color: var(--clr-neutral-1000);
  background-color: var(--clr-secondary);
  font-size: 0.9em;
  border-radius: 5px;
  border: none;
  outline: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  transition: background var(--transition-speed);
}

.default-button:is(:hover) {
  background-color: var(--clr-tertiary);
  outline: 2px solid currentColor;
}

.default-button:is(:focus) {
  outline: 3px solid var(--clr-neutral-0);
}

button:disabled {
  color: var(--clr-neutral-0) !important;
  background-color: var(--clr-neutral-900) !important;
  outline-color: var(--clr-neutral-700) !important;
  border: initial !important;
  cursor: not-allowed !important;
}

.small-button {
  display: block;
  padding: 0.5em 1em !important;
}

.icon-button.expand-button {
  display: block;
  color: var(--clr-neutral-0);
  margin-inline: auto;
}

.hidden-label {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.button-container {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}

.bg-danger {
  background-color: var(--clr-danger);
}

.text-danger {
  color: var(--clr-danger);
}

table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

th {
  border-bottom: 2px solid var(--clr-neutral-0);
}

th,
td {
  padding: 0.5em 1em;
  word-wrap: break-word;
}

tr {
  outline: 1px solid transparent;
}

label {
  display: block;
}

input:disabled {
  cursor: not-allowed !important;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 1em 2em;
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-aligned {
  text-align: left !important;
}

.highlight-section {
  position: relative;
  width: 100%;
  margin-block: 2em;
  padding-block: 1em;
  outline: 5px solid transparent;
}

.highlight-section:before,
.highlight-section::after {
  content: '';
  position: absolute;
  height: 0.5em;
  width: 100%;
  background: var(--clr-secondary);
}

.highlight-section:before {
  top: 0;
}

.highlight-section:after {
  bottom: 0;
}

/* Header */
header {
  height: var(--header-height);
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary);
  z-index: 1000;
  outline: 1px solid transparent;
  box-shadow: 0px 0px 5px var(--clr-neutral-0);
}

.header-container {
  position: relative;
  max-width: var(--max-width);
  height: var(--header-height);
  margin-inline: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: transform var(--transition-speed);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

#skip-navigation {
  position: absolute;
  left: 10rem;
  top: -1000px;
  padding: 0.5em;
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary);
  border: 3px solid var(--clr-neutral-1000);
  border-radius: 1rem;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: border var(--transition-speed) ease-out;
  z-index: 1;
}

#skip-navigation:focus {
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}

#skip-navigation:hover {
  border-color: var(--clr-neutral-0);
}

/* Nav */
.logo,
.nav-icon {
  display: block;
  fill: currentColor;
}

.logo {
  color: var(--clr-neutral-1000);
  height: calc(var(--header-height) - 1em);
}

@media (forced-colors: active) {
  .logo {
    color: currentColor;
  }
}

.nav-icon {
  height: 2em;
  margin-block: auto;
}

.icon-button {
  display: inline-block;
  fill: currentColor;
  border: none;
  background: transparent;
}

.nav-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-link {
  display: inline-block;
}

.nav-link {
  height: var(--header-height);
  display: flex;
  color: inherit;
  line-height: var(--header-height);
  text-decoration: none;
}

.nav-link:is(:hover, :focus) {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background var(--transition-speed);
  outline: 1px solid transparent;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-link.active:is(:hover, :focus) {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Navbar -- Mobile */
@media (max-width: 900px) {
  nav {
    width: calc(var(--header-height) + var(--scrollbar-width));
    height: var(--header-height);
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
  }

  .position-fixed {
    position: fixed;
  }

  .open-menu {
    height: 100vh;
    width: 100%;
  }

  .closed-menu {
    height: var(--header-height);
    width: calc(var(--header-height) + var(--scrollbar-width));
  }

  .icon-text {
    margin-left: 0.5em;
  }

  .nav-list {
    display: block;
    padding-top: var(--header-height);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    transform: translateX(100%);
    overflow-y: auto;
    outline: 1px solid transparent;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    line-height: var(--header-height);
  }

  .nav-link:is(:hover, :focus) {
    font-weight: bold;
    background-color: var(--clr-secondary);
    transition: background var(--transition-speed);
    outline: 1px solid transparent;
  }

  .toggle-container {
    position: absolute;
    top: 0;
    right: var(--scrollbar-width);
    display: block;
    height: var(--header-height);
    width: var(--header-height);
    z-index: 1;
  }

  #nav-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 25px;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
  }

  .nav-list[data-state="open"] {
    animation: openMenu var(--transition-speed) linear forwards;
    display: block;
  }

  .nav-list[data-state="closing"] {
    animation: closeMenu var(--transition-speed) linear forwards;
  }

  .nav-list[data-state="closed"] {
    display: none;
  }

  @keyframes openMenu {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes closeMenu {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .hamburger,
  .hamburger:before,
  .hamburger:after {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: var(--clr-neutral-1000);
    outline: 1px solid transparent;
    transition: all 300ms ease-in-out;
  }

  .hamburger:before {
    top: 10px;
  }

  .hamburger {
    top: 0px;
  }

  .hamburger:after {
    top: 20px;
  }

  #nav-toggle.active>.hamburger {
    background-color: transparent;
    outline: none;
  }

  #nav-toggle.active>.hamburger:before,
  #nav-toggle.active>.hamburger:after {
    top: 10px;
  }

  #nav-toggle.active>.hamburger:before {
    transform: rotate(45deg);
  }

  #nav-toggle.active>.hamburger:after {
    transform: rotate(-45deg);
  }
}

/* Navbar -- Desktop */
@media (min-width: 900px) {
  .toggle-container {
    display: none;
  }

  .icon-text {
    display: none;
  }

  nav {
    height: 100%;
    overflow: visible;
  }

  .nav-list {
    height: var(--header-height);
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .nav-link {
    padding-inline: 1em;
  }
}

footer {
  min-height: 3rem;
  width: 100%;
  padding: 1em;
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary);
  font-size: 0.8em;
  outline: 1px solid transparent;
}

footer>p {
  max-width: var(--max-width);
  text-align: center;
  margin-inline: auto;
}

footer a {
  color: var(--clr-neutral-1000);
  transition-duration: var(--transition-speed);
}

footer a:is(:hover, :focus) {
  color: var(--clr-tertiary);
}

/* Form */
form>h1 {
  font-size: 2rem;
}

form input {
  margin-inline: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1rem;
}

.form-container {
  width: min(80vw, 700px);
  margin-block: 1em;
  background-color: var(--clr-neutral-900);
  border-radius: 1em;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  outline: 1px solid transparent;
}

.form-container label {
  margin-top: 0.5em;
}

.form-container :is(label, select, input, textarea, p) {
  width: 90%;
  margin-inline: auto;
}

.form-container :is(label, select, input, textarea) {
  text-align: left;
  border-radius: 0.3em;
  border-width: 1px;
}

.form-container input {
  margin: initial;
  font-size: 1.1rem;
}

.form-container textarea {
  min-height: 10em;
  padding: 0.5em;
  font-size: 1.1rem;
  font-family: var(--ff-primary);
  resize: vertical;
}

.form-container .default-button {
  display: block;
  margin-inline: auto;
}

form a {
  text-decoration: none;
  font-style: italic;
  color: var(--clr-secondary);
  transition: color var(--transition-speed);
}

form a:hover {
  color: var(--clr-tertiary);
}

.form-alert {
  margin-block: 0.5em;
  color: var(--clr-danger);
}

/* || HOME PAGE */
.vibrate {
  font-weight: 700;
  display: inline-block;
}

.hero:hover .vibrate {
  animation: bounce 3s linear infinite;
}

@keyframes bounce {

  0%,
  10%,
  25%,
  40%,
  50% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-8px);
  }

  30% {
    transform: translateY(-5px);
  }
}

.hero {
  height: min(calc(100vh - var(--header-height)), 40em);
  width: 100%;
  background: var(--clr-neutral-0);
  background-image: url(assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 30%;
  overflow: hidden;
}

.hero-inner {
  height: 100%;
  width: 100%;
  padding: 1em;
  padding-top: 5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  color: var(--clr-neutral-1000);
  text-align: center;
  text-shadow: var(--text-shadow);
}

.hero-title {
  color: var(--clr-neutral-1000);
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--ff-title);
  line-height: 3rem;

  -webkit-text-fill-color: initial;
}

.hero-text {
  font-size: 2rem;
  margin-block: 1em;
}

.hero-button {
  display: inline-block;
  padding: 0.6em 1.6em;
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary);

  border: 1px solid var(--clr-neutral-1000);
  border-radius: 0.5em;
  outline: 1px solid transparent;

  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color var(--transition-speed),
    background var(--transition-speed);
  text-shadow: initial;
}

.hero-button:is(:hover, :focus) {
  color: var(--clr-secondary);
  background-color: var(--clr-neutral-1000);
  border-color: var(--clr-neutral-0);
  outline-width: 3px;
}

.partners {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}

.partner-logo {
  display: block;
  max-width: 200px;
  max-height: 100px;
  width: auto;
  filter: grayscale(1) contrast(70%);
  transition: filter var(--transition-speed);
}

.partner-logo:is(:hover, :focus) {
  filter: grayscale(0) contrast(100%);
}

/* || PRODUCTS PAGE */
.product-list {
  list-style-type: none;
  padding: 0;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
}

.product-card {
  position: relative;
  height: 28em;
  width: min(18em, 75vw);
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--clr-neutral-1000);
  border-radius: 1em;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  outline: 1px solid transparent;
  transition: transform 150ms;
  overflow: hidden;
}

.product-card:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1em;
  width: 100%;
  background-image: linear-gradient(0deg, var(--clr-neutral-1000) 20%, transparent 100%);
}

.product-card:is(:hover, :focus) {
  box-shadow: 0 0 10px #0008;
  transform: scale(1.05);
}

.card-image {
  display: block;
  width: auto;
  max-width: calc(100% - 1em);
  max-height: 10em;
  margin-inline: auto;
  object-fit: contain;
  border-radius: 0.4em;
}

.product-card>h2 {
  line-height: 1.2em;
  margin-top: 0.2em;
}

.card-description {
  max-height: 8em;
  margin-block: 0.2em;
  color: var(--clr-neutral-0);
  text-overflow: ellipsis;
  line-height: 1em;
}

/* || INDIVIDUAL PRODUCT PAGE */
.product-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height));

  color: var(--clr-neutral-1000);
  background-color: var(--clr-neutral-300);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  text-shadow: var(--text-shadow);
  text-align: center;
  overflow: hidden;

  outline: 1px solid transparent;
}

.banner-title {
  font-weight: 400;
  font-family: var(--ff-title);

  -webkit-text-fill-color: initial;
}

.banner-description {
  max-width: var(--max-width);
  margin-top: -0.5em;
  font-weight: 700;
}

.banner-highlight {
  position: absolute;
  width: 100%;
  min-height: 10em;
  padding: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  outline: 1px solid var(--clr-neutral-1000);
}

.unavailable-tag {
  color: var(--clr-neutral-1000);
  background-color: rgba(188, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-block: 1rem;
}

.unavailable-tag>p {
  margin: 0;
}

.description-row {
  margin: 3em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
}

.description-component {
  flex-basis: 50%;
}

.image-description>img {
  width: 100%;
  max-width: 80vw;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  outline: 1px solid transparent;
}

@media (max-width: 800px) {
  .description-row {
    flex-direction: column;
    gap: 2em;
  }
}

.text-item-wrapper {
  text-align: center;
}

/* Gallery */
.gallery-wrapper {
  width: 100%;
  text-align: center;
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary);
  background-image: linear-gradient(var(--clr-gradient-2));
  outline: 1px solid transparent;
  text-shadow: var(--text-shadow);
}

.gallery-wrapper p {
  margin: 1em 0.5em;
}

.testimonial-title {
  color: inherit;
  background: initial;
  -webkit-text-fill-color: initial;
}

.gallery {
  display: grid;
  grid-template-columns: 4em auto 4em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.slide-button {
  height: 1em;
  width: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--clr-neutral-1000);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: var(--gallery-button-size);
  border-radius: 50%;
  outline: 1px solid transparent;

  transition-duration: var(--transition-speed);
}

.slide-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.slides-view {
  --slides-width: min(calc(70vw - 8em), 900px);

  position: relative;
  width: var(--slides-width);
  overflow: hidden;
}

@media (max-width: 900px) {
  .container {
    padding: 1em;
  }

  .gallery {
    grid-template-columns: 3em auto 3em;
  }

  .slides-view {
    --slides-width: calc(100vw - 8em);
  }

  .full-slides-view {
    --slides-width: calc(100vw - 2em) !important;
  }

  .full-slides-view p {
    margin-inline: 0;
  }
}

.slides-container {
  display: flex;
  align-items: center;
  width: max-content;
  transition-duration: calc(var(--transition-speed)*3);
}

.slide {
  display: inline-block;
  width: var(--slides-width);
}

.reviewer-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewer-details p {
  margin: 0;
}

.reviewer-picture {
  border-radius: 1rem;
  margin-right: 1em;
}

/* || PURCHASE LICENSE PAGE */
.checkbox-input input {
  width: initial;
  margin-right: 0.5em;
  display: inline-block;
}

.checkbox-input>label {
  width: initial;
  display: inline-block;
  margin-block: 0.5em;
  cursor: pointer;
}

#prices,
.form-container>select {
  padding: 0.5em;
  font-size: 1.1rem;
  font-family: var(--ff-primary);
}

/* || ABOUT US PAGE */
.about-us-banner {
  position: relative;
  height: calc(100vh - var(--header-height));
  width: 100%;
  color: var(--clr-neutral-1000);
  background: var(--clr-neutral-0);
  background-image: url(assets/about-us-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;

  text-shadow: var(--text-shadow);
  overflow: hidden;
}

.about-us-banner h1 {
  color: inherit;
  background: initial;
  -webkit-text-fill-color: initial;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.wrapper-bottom {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

/* || PROFILE PAGE */
.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.user-details p {
  margin: 0;
}

.row-header {
  background: var(--clr-neutral-1000);
}

.row-header,
.row-details {
  border-bottom: 1px solid var(--clr-neutral-0);
}

.row-image {
  display: block;
}

/* || MANAGER/ADMIN PAGES */
/* Select Table */
.table-container {
  max-height: 40em;
  max-width: 80vw;
  margin: 0 auto;
  overflow: auto;
}

.table-container+.button-container {
  margin-top: 1em;
}

.select-table th {
  position: sticky;
  top: 0;

  background-color: var(--clr-neutral-900);
  border-bottom: 1px solid var(--clr-neutral-0);
  z-index: 1;
}

.select-table th,
.select-table td {
  border-right: 1px solid var(--clr-neutral-0);
  padding: 0.3em 1em;
}

.select-table th:last-child,
.select-table td:last-child {
  border-right: none;
}

.select-table td {
  border-bottom: 1px solid var(--clr-neutral-1000);
}

.select-table td>input,
.select-table td>button {
  display: block;
  margin-inline: auto;
}

.select-table input[type="checkbox"] {
  transform: scale(1.5);
}

.checkbox-column {
  width: 7em;
  vertical-align: middle;
  text-align: center;
}

.checkbox-column label {
  display: inline-block;
  margin-right: 0.5rem;
}

.selected-row {
  background-color: hsl(195, 45%, 85%) !important;
}

.table-text {
  margin-block: 0;
  margin-inline: 0.5em;
  font-weight: bold;
  border-bottom: 1px dotted currentColor;
}

/* || MANAGE PRODUCTS */
.accordion-header-container {
  position: relative;
  --accordion-header-font-size: 1.5rem;
  --header-icon-width: 2.25rem;
  --header-button-distance: 1rem;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: var(--accordion-header-font-size);

  width: 100%;
  position: relative;
  height: 2.5em;

  border: none;
  background: var(--clr-neutral-700);
}

.accordion-header>p {
  margin-block: 0;
  margin-left: 0.5em;
}

.accordion-header> :first-child {
  margin-right: auto;
}

.header-icon {
  width: var(--header-icon-width);
  display: block;
}

.overlay-button {
  position: absolute;
  top: 0;
  transform: translateY(25%);
  border: none;
  background: transparent;
}

.accordion-button-icon:hover {
  fill: #6f6f6f;
}

.remove-button {
  right: calc(var(--header-icon-width) + var(--header-button-distance));
}

.add-button {
  right: calc(2 * calc(var(--header-icon-width) + var(--header-button-distance)));
}

.accordion-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--clr-neutral-0);
}

.accordion-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  min-height: 2.75rem;

  background-color: var(--clr-neutral-900);
}

.accordion-body> :not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-0);
}

.accordion-row> :first-child {
  margin-right: auto;
  margin-left: 1.45em;
  margin-block: 0;
}

.accordion-row>p {
  width: 16em;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-remove-button {
  border: none;
  background-color: transparent;
  width: 3em;
}

.accordion-edit-button {
  border: none;
  background-color: transparent;
  width: 3em;
}

.pencil-icon {
  fill: none;
  stroke: var(--clr-neutral-0);
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-right: 0.5em;
}

.pencil-s0 {
  stroke-width: 12.5;
}

.pencil-s1 {
  stroke-width: 3.5;
}

/* Toggle button */
.toggle-button {
  position: relative;
  display: block;
  width: 3.5em;
  height: 2em;
}

.switch>input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--clr-neutral-700);
  border-radius: 1em;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.5em;
  width: 1.5em;
  left: 0.25em;
  top: 0.25em;
  background-color: var(--clr-neutral-1000);
  border-radius: 1em;
  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked+.slider {
  background-color: var(--clr-secondary);
}

input:focus+.slider {
  box-shadow: 0 0 0.3em var(--clr-neutral-0);
}

input:checked+.slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* Popup */
.popup-grey-zone {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #3d3d3d7c;
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-visible {
  display: flex;
}

.popup-box {
  min-width: 20rem;
  min-height: 20rem;
  background-color: var(--clr-neutral-1000);
}

.popup-form>* {
  padding-inline: 1em;
}

.popup-button-container {
  margin-top: 0.5em;
  justify-content: center;
}

.popup-button {
  display: inline;
  margin-block: 0.3em;
  margin-inline: 0.5em !important;
}